@font-face {
    font-family: inter;
    src: url("https://wemdevs.github.io/ext/inter.ttf");
}

* {
    font-family: inter!important;
}

._19RUehfeFmYKhUL8NgeNVi,._3bsj7mNSaueYuWuWvZFWKW {
    display:none!important;
}

._1ppnyRj_9LpVLO_D4hSmuD {
    margin-top:3em!important;
}