@font-face {
    font-family: nunito;
    src: url(nunito.ttf);
}

* {
    font-family: nunito!important;
}

._19RUehfeFmYKhUL8NgeNVi {
    display:none!important;
}

._1ppnyRj_9LpVLO_D4hSmuD {
    margin-top:3em!important;
}